@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
.page-wrapper {
  background-color: rgba(255, 255, 255, 0.75); }
  @media only screen and (max-width: 768px) {
    .page-wrapper {
      padding: 25px; } }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    .page-wrapper {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (min-width: 1600px) {
    .page-wrapper {
      max-width: 50%;
      margin-left: auto;
      margin-right: auto; } }

header {
  background-image: url("scss/assets/blossom-tree.gif"), url("scss/assets/stary-night-1.gif");
  background-repeat: no-repeat, repeat;
  background-position: right top, left top;
  background-size: auto 100%, auto 100%;
  height: 12vw;
  padding: 2vw;
  border: 1px black hidden;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    header h1, header h2 {
      text-align: left; } }

body {
  margin: 0; }

footer {
  clear: both;
  text-align: center; }

abbr {
  text-decoration: none; }

#zen-preamble h3 {
  background: cyan;
  border: 1px cyan solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#zen-explanation h3 {
  background: #04754D;
  border: 1px #04754D solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#zen-participation h3 {
  background: #3E0D76;
  border: 1px #3E0D76 solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#zen-benefits h3 {
  background: #AFA206;
  border: 1px #AFA206 solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#zen-requirements h3 {
  background: red;
  border: 1px red solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#design-selection {
  background-color: rgba(255, 255, 255, 0.75); }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    #design-selection {
      width: 35%;
      float: right;
      clear: right; }
      #design-selection ul {
        list-style-type: none;
        padding: 0; }
        #design-selection ul li {
          text-align: center;
          max-width: 250px;
          margin: 0px auto 25px auto;
          display: block; }
          #design-selection ul li:nth-child(1)::before {
            content: url("scss/assets/modern.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(2)::before {
            content: url("scss/assets/garment.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(3)::before {
            content: url("scss/assets/steel_beam.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(4)::before {
            content: url("scss/assets/potion_bottle.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(5)::before {
            content: url("scss/assets/screen.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(6)::before {
            content: url("scss/assets/kiss.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(7)::before {
            content: url("scss/assets/robot.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(8)::before {
            content: url("scss/assets/pepper.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li a {
            text-decoration: none;
            vertical-align: middle; }
            #design-selection ul li a::before {
              content: "\A";
              white-space: pre; } }
  @media only screen and (min-width: 1600px) {
    #design-selection {
      width: 35%;
      float: right;
      clear: right; }
      #design-selection ul {
        list-style-type: none;
        padding: 0; }
        #design-selection ul li {
          text-align: center;
          max-width: 250px;
          margin: 0px auto 25px auto;
          display: block; }
          #design-selection ul li:nth-child(1)::before {
            content: url("scss/assets/modern.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(2)::before {
            content: url("scss/assets/garment.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(3)::before {
            content: url("scss/assets/steel_beam.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(4)::before {
            content: url("scss/assets/potion_bottle.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(5)::before {
            content: url("scss/assets/screen.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(6)::before {
            content: url("scss/assets/kiss.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(7)::before {
            content: url("scss/assets/robot.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li:nth-child(8)::before {
            content: url("scss/assets/pepper.svg");
            margin-left: auto;
            margin-right: auto; }
          #design-selection ul li a {
            text-decoration: none;
            vertical-align: middle; }
            #design-selection ul li a::before {
              content: "\A";
              white-space: pre; } }
  #design-selection h3 {
    background: #DA5413;
    border: 1px #DA5413 solid;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#zen-supporting {
  background-color: rgba(255, 255, 255, 0.75); }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    #zen-supporting {
      width: 64%;
      float: left;
      clear: left; } }
  @media only screen and (min-width: 1600px) {
    #zen-supporting {
      width: 64%;
      float: left;
      clear: left; } }

#design-archives, #zen-resources {
  background-color: rgba(255, 255, 255, 0.75); }

/* -------------------------------- Fonts -------------------------------- */
/* -------------------------------- Page title -------------------------------- */
main > h1 {
  color: white; }
  @media only screen and (min-width: 1600px) {
    main > h1 {
      /* title goes into the header on big devices */
      color: white; } }

/* --------------------------------Headers --------------------------------*/
h1 {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 5vw; } }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    h1 {
      font-size: 3vw; } }
  @media only screen and (min-width: 1600px) {
    h1 {
      font-size: 2vw; } }

h2 {
  font-family: "Press Start 2P", cursive;
  color: white;
  line-height: 1.5;
  margin: 0 0 .4em; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 3vw; } }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    h2 {
      font-size: 1.5vw; } }
  @media only screen and (min-width: 1600px) {
    h2 {
      font-size: 1vw; } }

h3, h4 {
  font-family: "Press Start 2P", cursive;
  color: #521893;
  font-weight: bold;
  text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    h3, h4 {
      font-size: 2.5vw; } }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    h3, h4 {
      font-size: 1.5vw; } }
  @media only screen and (min-width: 1600px) {
    h3, h4 {
      font-size: 1vw; } }

/* -------------------------------- Body Font -------------------------------- */
p {
  font-family: "VT323", monospace;
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 0 25px;
  color: #6a0ed3; }
  p a {
    color: #0D9263;
    text-decoration: underline; }
  @media only screen and (max-width: 768px) {
    p {
      font-size: 1.6rem;
      line-height: 1.6; } }

li {
  font-family: "VT323", monospace;
  color: #9149e1; }
  li a {
    color: #0D9263;
    text-decoration: underline; }

/* -------------------------------- Background -------------------------------- */
body {
  /* this is the page background */
  background-image: url("scss/assets/falling-blossoms.gif"); }

#design-archives {
  clear: both;
  float: left;
  width: 49%; }
  #design-archives ul {
    list-style-type: none; }
    #design-archives ul li:nth-child(1)::before {
      content: url("scss/assets/next_btn.svg"); }
    #design-archives ul li:nth-child(2)::before {
      content: url("scss/assets/all_btn.svg"); }

#zen-resources {
  float: left;
  width: 49%; }
  #zen-resources ul {
    list-style-type: none; }
    #zen-resources ul li:nth-child(1)::before {
      content: url("scss/assets/icon.svg"); }
    #zen-resources ul li:nth-child(2)::before {
      content: url("scss/assets/icon.svg"); }
    #zen-resources ul li:nth-child(3)::before {
      content: url("scss/assets/icon.svg"); }
    #zen-resources ul li:nth-child(4)::before {
      content: url("scss/assets/icon.svg"); }
    #zen-resources ul li:nth-child(5)::before {
      content: url("scss/assets/icon.svg"); }

@media only screen and (max-width: 768px) {
  #design-selection ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0; }
    #design-selection ul li {
      width: 25%;
      text-align: center; }
      #design-selection ul li:nth-child(1)::before {
        display: block;
        width: auto;
        height: auto;
        content: "\00a0";
        background-size: 100% 100%;
        background-image: url("scss/assets/modern.svg"); }
      #design-selection ul li:nth-child(2)::before {
        display: block;
        width: auto;
        height: auto;
        content: "\00a0";
        background-size: 100% 100%;
        background-image: url("scss/assets/garment.svg"); }
      #design-selection ul li:nth-child(3)::before {
        display: block;
        width: auto;
        height: auto;
        content: "\00a0";
        background-size: 100% 100%;
        background-image: url("scss/assets/steel_beam.svg"); }
      #design-selection ul li:nth-child(4)::before {
        display: block;
        width: auto;
        height: auto;
        content: "\00a0";
        background-size: 100% 100%;
        background-image: url("scss/assets/potion_bottle.svg"); }
      #design-selection ul li:nth-child(5)::before {
        display: block;
        width: auto;
        height: auto;
        content: "\00a0";
        background-size: 100% 100%;
        background-image: url("scss/assets/screen.svg"); }
      #design-selection ul li:nth-child(6)::before {
        display: block;
        width: auto;
        height: auto;
        content: "\00a0";
        background-size: 100% 100%;
        background-image: url("scss/assets/kiss.svg"); }
      #design-selection ul li:nth-child(7)::before {
        display: block;
        width: auto;
        height: auto;
        content: "\00a0";
        background-size: 100% 100%;
        background-image: url("scss/assets/robot.svg"); }
      #design-selection ul li:nth-child(8)::before {
        display: block;
        width: auto;
        height: auto;
        content: "\00a0";
        background-size: 100% 100%;
        background-image: url("scss/assets/pepper.svg"); }
      #design-selection ul li a::before {
        content: "\A";
        white-space: pre; } }

body::after {
  clear: both;
  display: block;
  width: 100%;
  height: 64px;
  content: "\00a0";
  background-image: url("scss/assets/mover.gif"), url("scss/assets/brick_2.svg");
  background-position: left top, left top;
  background-repeat: no-repeat, repeat;
  animation: mover_animate 10s infinite linear; }

@keyframes mover_animate {
  0% {
    background-position: -5% top, left top; }
  100% {
    background-position: 105% top, left top; } }
