@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
.page-wrapper {
  background-color: rgba(255, 255, 255, 0.75); }
  @media only screen and (max-width: 768px) {
    .page-wrapper {
      padding: 25px; } }
  @media only screen and (min-width: 1024px) {
    .page-wrapper {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto; } }

header {
  background-image: url("scss/assets/blossom-tree.gif");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
  height: 15em; }
  @media only screen and (min-width: 1024px) {
    header h1, header h2 {
      text-align: center; } }

footer {
  clear: both;
  text-align: center; }

abbr {
  text-decoration: none; }

#zen-preamble h3 {
  background: cyan;
  border: 1px cyan solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
#zen-preamble p {
  padding-left: 25px; }

#zen-explanation h3 {
  background: green;
  border: 1px green solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
#zen-explanation p {
  padding-left: 25px; }

#zen-participation h3 {
  background: violet;
  border: 1px violet solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
#zen-participation p {
  padding-left: 25px; }

#zen-benefits h3 {
  background: orange;
  border: 1px orange solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
#zen-benefits p {
  padding-left: 25px; }

#zen-requirements h3 {
  background: red;
  border: 1px red solid;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
#zen-requirements p {
  padding-left: 25px; }

#design-selection {
  background-color: rgba(255, 255, 255, 0.75); }
  @media only screen and (min-width: 1024px) {
    #design-selection {
      width: 35%;
      float: right;
      clear: right; } }
  #design-selection h3 {
    background: green;
    border: 1px green solid;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  @media only screen and (min-width: 1024px) {
    #design-selection ul {
      list-style-type: none; }
      #design-selection ul li {
        text-align: center;
        max-width: 250px;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        display: block; }
        #design-selection ul li:nth-child(1)::before {
          content: url("scss/assets/modern.png");
          margin-left: auto;
          margin-right: auto; }
        #design-selection ul li:nth-child(2)::before {
          content: url("scss/assets/garment.png");
          margin-left: auto;
          margin-right: auto; }
        #design-selection ul li:nth-child(3)::before {
          content: url("scss/assets/steel_beam.png");
          margin-left: auto;
          margin-right: auto; }
        #design-selection ul li:nth-child(4)::before {
          content: url("scss/assets/potion_bottle.png");
          margin-left: auto;
          margin-right: auto; }
        #design-selection ul li:nth-child(5)::before {
          content: url("scss/assets/screen.png");
          margin-left: auto;
          margin-right: auto; }
        #design-selection ul li:nth-child(6)::before {
          content: url("scss/assets/kiss.png");
          margin-left: auto;
          margin-right: auto; }
        #design-selection ul li:nth-child(7)::before {
          content: url("scss/assets/robot.png");
          margin-left: auto;
          margin-right: auto; }
        #design-selection ul li:nth-child(8)::before {
          content: url("scss/assets/pepper.png");
          margin-left: auto;
          margin-right: auto; }
        #design-selection ul li a {
          text-decoration: none;
          vertical-align: middle; }
          #design-selection ul li a::before {
            content: "\A";
            white-space: pre; } }

#zen-supporting {
  background-color: rgba(255, 255, 255, 0.75); }
  @media only screen and (min-width: 1024px) {
    #zen-supporting {
      width: 64%;
      float: left;
      clear: left; } }

#design-archives, #zen-resources {
  background-color: rgba(255, 255, 255, 0.75); }

/* -------------------------------- Fonts -------------------------------- */
/* -------------------------------- Page title -------------------------------- */
main > h1 {
  color: white; }
  @media only screen and (min-width: 1600px) {
    main > h1 {
      /* title goes into the header on big devices */
      color: white; } }

/* --------------------------------Headers --------------------------------*/
h1 {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-family: "Press Start 2P", cursive;
  color: white;
  line-height: 1.5;
  margin: 0 0 .4em; }
  @media only screen and (max-width: 768px) {
    h2 {
      font-size: 2.7rem; } }
  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 2rem; } }

h3, h4 {
  font-family: "Press Start 2P", cursive;
  color: #521893;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }
  @media only screen and (max-width: 768px) {
    h3, h4 {
      font-size: 1.8rem;
      margin: 1em 0 1.4em; } }

/* -------------------------------- Body Font -------------------------------- */
p {
  font-family: "VT323", monospace;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #9149e1; }
  p a {
    color: #0D9263;
    text-decoration: underline; }
  @media only screen and (max-width: 768px) {
    p {
      font-size: 1.6rem;
      line-height: 1.6; } }

/* -------------------------------- Background -------------------------------- */
body {
  /* this is the page background */
  background-image: url("scss/assets/falling-blossoms.gif"); }

/* -------------------------------- Navigation -------------------------------- */
header {
  background-color: #521893; }

.cd-logo {
  /* logo box style */
  background-color: #0D9263;
  width: 120px; }
  @media only screen and (min-width: 1024px) {
    .cd-logo {
      width: 180px; } }

.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: #521893; }
  .cd-main-nav li a {
    color: #ffffff;
    border-color: #5e1ca9; }
  @media only screen and (min-width: 1024px) {
    .cd-main-nav li a {
      color: #b98bec; }
      .cd-main-nav li a.selected {
        color: #ffffff;
        box-shadow: 0 2px 0 #0D9263; }
      .no-touch .cd-main-nav li a:hover {
        color: #0D9263; } }

.cd-nav-trigger span {
  /* hamburger menu */
  background-color: #ffffff; }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* upper and lower lines */
    background-color: #ffffff; }

.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: rgba(255, 255, 255, 0); }
  .nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
    /* preserve visibility of upper and lower lines - close icon */
    background-color: white; }

.cd-download {
  /* download button top-right visible on big devices */
  background-color: #6a1fbf; }
  .no-touch .cd-download:hover {
    background-color: #7723d5; }
  .cd-download span {
    /* tooltip */
    background: #0D9263;
    color: #ffffff; }
    .cd-download span::before {
      /* right arrow color */
      border-color: #0D9263; }

/* -------------------------------- Patterns -------------------------------- */
.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid black;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px; }

/* -------------------------------- Buttons -------------------------------- */
.btn {
  border: none;
  box-shadow: none;
  border-radius: .25em;
  font-size: 1.4rem;
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
  padding: .6em 2.2em;
  cursor: pointer;
  background: #0D9263; }
  .btn:focus {
    outline: none; }
  .no-touch .btn:hover {
    background: #0fa973; }
  .btn.btn-success {
    background: #4AB18D; }
    .no-touch .btn.btn-success:hover {
      background: #5aba99; }
  .btn.btn-alert {
    background: #DA5413; }
    .no-touch .btn.btn-alert:hover {
      background: #eb5f1b; }
  .btn.btn-outline {
    color: #0D9263;
    background: transparent;
    box-shadow: inset 0 0 0 1px #0D9263; }
    .no-touch .btn.btn-outline:hover {
      color: #ffffff;
      background: #0D9263; }
  @media only screen and (max-width: 768px) {
    .btn {
      font-size: 1.6rem; } }

.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: #0D9263; }

#design-archives {
  clear: both;
  float: left;
  width: 49%; }

#zen-resources {
  float: left;
  width: 49%; }
