
/* -------------------------------- Background -------------------------------- */
body {
	/* this is the page background */
	margin: 0;
	background-image: url('scss/assets/falling-blossoms.gif');
}

// Bottom of page animation
body::after {
	clear: both;
	display: block;
	width: 100%;
	height: 64px;
	content: "\00a0";
	background-image: url("scss/assets/mover.gif"),url("scss/assets/brick_2.svg");
	background-position: left top, left top;
	background-repeat: no-repeat, repeat;
	animation: mover_animate 10s infinite linear;
	@include MQ(S) {
		animation: mover_animate 3s infinite linear;
	}
}
//Running Dude
@keyframes mover_animate {
	0% {
		background-position: -5% top, left top;
	}
	100% {
		background-position: 105% top, left top;
	}
}
