// Places the Archives and Resources at the bottom of the page
#design-archives{
    clear: both;
    float: left;
    width: 49%;
	
	ul {
		list-style-type: none;
		
		li {
			&:nth-child(1)::before {
				content: url("scss/assets/next_btn.png");
			}
			&:nth-child(2)::before {
				content: url("scss/assets/all_btn.png");
			}
		}
	}
}

#zen-resources {
    float: left;
    width: 49%;
	
	ul {
		list-style-type: none;
		
		li {
			&:nth-child(1)::before {
				content: url("scss/assets/icon.png");
			}
			&:nth-child(2)::before {
				content: url("scss/assets/icon.png");
			}
			&:nth-child(3)::before {
				content: url("scss/assets/icon.png");
			}
			&:nth-child(4)::before {
				content: url("scss/assets/icon.png");
			}
			&:nth-child(5)::before {
				content: url("scss/assets/icon.png");
			}
		}
	}
}

//Small layout
#design-selection ul {
	@include MQ(S) {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		
		list-style-type: none;
		
		li {
			width: 25%;
			text-align: center;
			
			&:nth-child(1)::before {
				content: url("scss/assets/modern.png");
			}
			&:nth-child(2)::before {
				content: url("scss/assets/garment.png");
			}
			&:nth-child(3)::before {
				content: url("scss/assets/steel_beam.png");
			}
			&:nth-child(4)::before {
				content: url("scss/assets/potion_bottle.png");
			}
			&:nth-child(5)::before {
				content: url("scss/assets/screen.png");
			}
			&:nth-child(6)::before {
				content: url("scss/assets/kiss.png");
			}
			&:nth-child(7)::before {
				content: url("scss/assets/robot.png");
			}
			&:nth-child(8)::before {
				content: url("scss/assets/pepper.png");
			}
			
			a::before {
				content: "\A";
				white-space: pre;
			}
		}
	}
}
