
// breakpoints
   
$S:     768px;   
$M:     1024px;     
$L:     1600px;   

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (max-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

// buttons for mobile
@mixin buttonLayout($color) {
    background: $color;
    border: 1px $color solid;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div {
    #zen-preamble {
        h3 {
            @include MQ(S) {
                @include buttonLayout(cyan);
            }
        }
    }

    #zen-explanation {
        h3 {
            @include MQ(S) {
                @include buttonLayout(green);
            }
        }
    }

    #zen-participation {
        h3 {
            @include MQ(S) {
                @include buttonLayout(violet);
            }
        }
    }

    #zen-benefits {
        h3 {
            @include MQ(S) {
                @include buttonLayout(orange);
            }
        }
    }

    #zen-requirements {
        h3 {
            @include MQ(S) {
                @include buttonLayout(red);
            }
        }
    }
    
    #design-selection, #design-archives, #zen-resources {
        h3 {
            @include MQ(S) {
                @include buttonLayout(green);
            }
        }
    }
}