// media queries
@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (max-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $S) and (max-width: $L) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// buttons for mobile
@mixin buttonLayout($color) {
    background: $color;
    border: 1px $color solid;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// circle layout for sidebar links
@mixin circleLinks($color) {
    ul {
        list-style-type: none;
        padding: 0;
        li {
            //border: 1px hidden black;
            //border-radius: 100%;
            //background: $color;
            //background-clip: content-box;
            text-align: center;
            max-width: 250px;
            //height: 250px;
			margin: 0px auto 25px auto;
            display: block;
            
	    &:nth-child(1)::before {
		//Add the images for the links here. Copy and adjust for each one
		    content: url('scss/assets/modern.svg');
		//Center the image
		    margin-left: auto;
		    margin-right: auto;
	    }
		&:nth-child(2)::before {
		//Add the images for the links here. Copy and adjust for each one
		    content: url('scss/assets/garment.svg');
		//Center the image
		    margin-left: auto;
		    margin-right: auto;
	    }
		&:nth-child(3)::before {
		//Add the images for the links here. Copy and adjust for each one
		    content: url('scss/assets/steel_beam.svg');
		//Center the image
		    margin-left: auto;
		    margin-right: auto;
	    }
		&:nth-child(4)::before {
		//Add the images for the links here. Copy and adjust for each one
		    content: url('scss/assets/potion_bottle.svg');
		//Center the image
		    margin-left: auto;
		    margin-right: auto;
	    }
		&:nth-child(5)::before {
		//Add the images for the links here. Copy and adjust for each one
		    content: url('scss/assets/screen.svg');
		//Center the image
		    margin-left: auto;
		    margin-right: auto;
	    }
		&:nth-child(6)::before {
		//Add the images for the links here. Copy and adjust for each one
		    content: url('scss/assets/kiss.svg');
		//Center the image
		    margin-left: auto;
		    margin-right: auto;
	    }
		&:nth-child(7)::before {
		//Add the images for the links here. Copy and adjust for each one
		    content: url('scss/assets/robot.svg');
		//Center the image
		    margin-left: auto;
		    margin-right: auto;
	    }
		&:nth-child(8)::before {
		//Add the images for the links here. Copy and adjust for each one
		    content: url('scss/assets/pepper.svg');
		//Center the image
		    margin-left: auto;
		    margin-right: auto;
	    }
	
            a {
                	text-decoration: none;
                	vertical-align: middle;
                //Unnecessary now
		    	//line-height: 250px;
		    	
		    &::before {
			    //This adds a line-break between the image and link so the image sits above it
				content: "\A";
			    	white-space: pre;
		    }
            }
        }
    }
}
