
/* -------------------------------- Fonts -------------------------------- */
@import url('https://fonts.googleapis.com/css?family=VT323'); //Body Font
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P'); //Header Font


$primary-font: 'VT323', monospace;
$secondary-font: 'Press Start 2P', cursive;

/* -------------------------------- Page title -------------------------------- */
main > h1 {
	color: white;
	@include MQ(L) {
		/* title goes into the header on big devices */
		color: white;
	}
}

/* --------------------------------Headers --------------------------------*/

h1 {
	font-family: $secondary-font;
	color: white;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 .4em;
	@include MQ(S) {
		font-size: 5vw;
	}
	@include MQ(M) {
		font-size: 3vw;
	}
	@include MQ(L) {
		font-size: 2vw;
	}
	
}

h2	{
	font-family: $secondary-font;
	color: white;
	line-height: 1.5;
	margin: 0 0 .4em;
	@include MQ(S) {
		font-size: 3vw;
	}
	@include MQ(M) {
		font-size: 1.5vw;
	}
	@include MQ(L) {
		font-size: 1vw;
	}
}


h3, h4 {
	font-family: $secondary-font;
	color: $color-2;
	font-weight: bold;
	text-transform: uppercase;

	@include MQ(S) {
		font-size: 2.5vw;
	}
	@include MQ(M) {
		font-size: 1.5vw;
	}
	@include MQ(L) {
		font-size: 1vw;
	}
	
}

/* -------------------------------- Body Font -------------------------------- */
p {
	font-family: $primary-font;
	font-size: 1.4rem;
	line-height: 1.4;
	padding: 0 25px;
	color: lighten($color-2-4, 25%);
	//a {
		//color: $color-1;
		//text-decoration: none;
	//}
	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

a {
	color: $color-1;
	text-decoration: none;

	&:hover {
		color: $color-4;
		text-decoration: underline;
	}
	&:active {
		background: $color-3;	
	}
}

li {
	font-family: $primary-font;
	color: lighten($color-2, 25%);
	//a {
		//color: $color-1;
		//text-decoration: underline;
	//}
}
